:root{
    --primary-color: white;
    --secondary-color: #fbf9dd;
    --primary-font-family: "Poppins", sans-serif; 
}

body{
    background-color: var(--secondary-color);
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)) ,url("../images/bernal.png");
    background-repeat: none;
    background-size: cover;
    margin: 10px 5px;
    color: var(--primary-color);
    text-align: center;
    font-family: var(--primary-font-family);
    padding: 50px 0;
}

h1{
font-size: 96px;
font-weight: 700;
line-height: 1.5;
}

h2{
    font-size: 40px;
    font-weight: 400;
    line-height: 1.5;
}

h3{
    font-size: 25px;
    font-weight: 800;
    line-height: 1.5;
}

header a{
    color: blueviolet;
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 16px 32px;
    border-radius: 4px;
    margin: 30px auto;
    font-weight: 700;
    display: inline-block;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 3px;
    text-transform: uppercase;
}

main{
    background-color: var(--primary-color);
}

main h2{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.3;
    text-transform: uppercase;
    margin: 0;
}

main h3{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
}

main p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.7;
}

section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

footer{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url('../images/uvas.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    color: var(--primary-color);
    text-align: center;
}

footer h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

footer ul{
    list-style-type: none;
    padding: 0;
}

footer li{
    padding: 0;
    margin: 0;
}

footer a{
    text-decoration: none;
    color: var(--primary-color);
    opacity: 0.7;
}

footer a:hover{
    text-decoration: underline;
}

footer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.7;
}

.container{
    max-width: 1500px;
    margin: 0 auto;
}

.grid{
    display: grid;
    grid-gap: 20px;
}

.grid-2{
    grid-template-columns: repeat(2, 1fr);
}

.grid-3{
    grid-template-columns: 1fr repeat(2,2fr);
}

@media (max-width:960px){
    header{
        padding: 40px 0;
    }

    h1{
        font-size: 50px;
    }

    h2{
        font-size: 20px;
    }

    h3{
        font-size: 15px;
    }

    header a{
        font-size: 10px;
        padding: 10px;
    }

    .grid{
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    section{
        padding: 5px;
    }

    main h3{
        font-size: 20px;
    }

    main h2{
        font-size: 15px;
    }

    main p{
        font-size: 15px;
    }

    main img{
        display: block;
        margin: 0 auto ;
    }
}